header{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    margin-left: 500px;
    
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    margin: 10px;
}
.container-mainbody{
    margin-left: 150px;
    /* display: flex;
    align-items: center;
    margin: 0 auto;
    flex-basis: 80%; */
}
.container-head{
    width: 100%;
    margin-left: 50px;
    
    display: inline-flex;
}
h1{
    color: blue;
}
span{
    background-color: blue;
    color: white;
}
.linkedin-header{
    width: 100%;
    /* margin-right: 170px;  */
    color: orange;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace
}
.forgot{
    margin-top: 40px;
    margin-bottom: 20px;
    color: blue;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.liner{
   display: block;
   height: 2px;
   background: grey;
   width: 50%;
   margin-right:8px;
   margin-left: 8px; 
   position: relative;
   top: 12px;
}
.container-line{
  
   width: 100%;
   display: inline-flex
}